.footer {
  margin: 60px 0 50px 0;
  color: #999999;
  display: flex;
  justify-content: center;
}

.footer div:nth-child(1) {
  margin-right: 30px;
}

.footerText {
  font-size: 15px;
}

.footerLink{
  text-decoration: none;
  color: #999999;
}

.footerLink:active {
  opacity: 0.8;
} 