.homeTitle {
  font-size: 23px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.serviceGuideBox {
  background-color: #ffffff;
  overflow: auto;
  border-radius: 10px;
  width: 275px;
  margin: 0 auto 10px auto;
  padding: 10px 15px;
  line-height: 25px;
}

.serviceGuideBox span {
  font-weight: bold;
}

.serviceGuide span:first-child {
  color: #ff5555;
}

.cafeSeomoonLink {
  color: #999999;
  text-decoration: underline;
}

.cafeSeomoonLink:active {
  opacity: 0.8;
}

.newSignup {
  text-align: center;
  margin-top: 25px;
}

.newSignup span:nth-child(2) {
  color: #ff5555;
  font-size: 17px;
}

.contentBox {
  margin-top: 25px;
}

.contentTitle {
  font-size: 17px;
}

.loginLinkBox {
  display: flex;
  justify-content: center;
}

.loginLink {
  font-size: 13px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
  color: #999999;
  text-decoration: none;
}

.loginLink:active {
  opacity: 0.8;
}
