.welcomeText {
  font-size: 23px;
  font-weight: bold;
  margin-top: 65px;
  text-align: center;
}

.paymentWaitingBox {
  background-color: #FFFFFF;
  width: 300px;
  margin: 45px auto;
  border-radius: 10px;
  padding-bottom: 25px;
}

.paymentWaitingText {
  font-size: 20px;
  font-weight: bold;
  padding: 25px 0 8px 0;
  border-bottom: 0.5px solid black;
  width: 250px;
  margin: 0 auto;
}

.paymentWaitingAmount {
  padding-left: 25px;
  margin: 15px 0 7px 0;
  font-size: 28px;
  font-weight: bold;
}

.paymentWaitingDetail {
  padding-left: 21px;
  margin: 0 auto;
}

.paymentWaitingDetail span {
  line-height: 26px;
}

.boldText {
  font-weight: bold;
}

.accountInfo {
  text-decoration: underline;
  cursor: pointer;  
}

.copyImg {
  cursor: pointer;
  margin-left: 5px;
  padding-top: 4px;
}

.alertSign {
  font-weight: bold;
  color: #FF5555;
  text-align: center;
  margin-top: 20px;
  padding-left: 10px;
}

.balanceBox {
  background-color: #FFFFFF;
  width: 300px;
  margin: 45px auto 25px auto;
  border-radius: 10px;
}

.balanceText {
  font-size: 20px;
  font-weight: bold;
  padding: 25px 0 0 25px;
}

.balanceNumber {
  font-size: 35px;
  font-weight: bold;
  padding: 35px 0 60px 20px;
  text-align: center;
  line-height: 40px;
}