.welcomeText {
  font-size: 23px;
  font-weight: bold;
  margin-top: 65px;
  text-align: center;
}

.guideText {
  font-size: 15px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
  color: grey;
}

.paymentBox {
  background-color: #ffffff;
  width: 300px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  padding: 13px 0;
}

.paymentLine {
  font-size: 18px;
  width: 250px;
  margin: 0 auto;
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
}

.paymentTitle {
  font-weight: bold;
}

.paymentBox hr {
  width: 255px;
}

.paymentWaiting {
  font-weight: bold;
  color: #ff5555;
  font-size: 20px;
}

.recordLinkBox {
  background-color: #ffffff;
  width: 300px;
  margin: 0 auto 25px auto;
  border-radius: 10px;
  padding: 15px 0;
}

.recordLinkBox:active {
  opacity: 0.5;
}

.recordLinkLine {
  font-size: 16px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.recordLinkLine div {
  font-weight: bold;
}

.recordLinkLine img {
  width: 16px;
  height: 14px;
  margin-top: 2.5px;
}
