.welcomeText {
  font-size: 23px;
  font-weight: bold;
  margin-top: 65px;
  text-align: center;
}

.guideText {
  font-size: 15px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
  color: grey;
}

.paymentBox {
  background-color: #FFFFFF;
  width: 300px;
  margin: 0 auto 25px auto;
  border-radius: 10px;
  padding: 15px 0;
}

.paymentLine {
  font-size: 20px;
  width: 250px;
  margin: 0 auto;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
}

.paymentTitle {
  font-weight: bold;
}

.paymentBox hr {
  width: 255px;
}

.paymentWaiting {
  font-weight: bold;
  color: #FF5555;
  font-size: 23px;
}

.paymentRecordBox {
  background-color: #FFFFFF;
  width: 300px;
  min-height: 150px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  padding: 15px 0;
}

.paymentRecordLine {
  font-size: 20px;
  width: 200px;
  margin: 0 auto;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.paymentRecordBox hr {
  width: 255px;
  margin-bottom: 0;
}

.paymentRecordRow {
  font-size: 18px;
  width: 240px;
  margin: 0 auto;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}

.paymentRecordRow .left {
  margin-left: 10px;
}